{% extends 'layout.html' %} {% block content %}
<!-- Select2 CSS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  $(document).ready(function () {
    var $input011 = $('#inputModelCode1')
    $input021 = $('#inputModelName1')
    $input031 = $('#inputModelDesc')

    $input012 = $('#inputModelName2')
    $input022 = $('#inputModelCode2')

    $options1 = $input021.find('option')
    $options2 = $input031.find('option')
    $options3 = $input022.find('option')

    $input011
      .on('change', function () {
        $input021.html($options1.filter('[value="' + this.value + '"]'))
        // $input012.html($options2.filter('[value="' + $input012 + '"]'))
        // $input031.html($options2.filter('[value="' + this.value + '"]'))
      })
      .trigger('change')

    $input011
      .on('change', function () {
        $input031.html($options2.filter('[value="' + this.value + '"]'))
        // $input031.html($options2.filter('[value="' + this.value + '"]'))
      })
      .trigger('change')

    $input012
      .on('change', function () {
        $input022.html($options3.filter('[value="' + this.value + '"]'))
      })
      .trigger('change')

    $input012
      .on('change', function () {
        $input031.html($options2.filter('[value="' + this.value + '"]'))
      })
      .trigger('change')
  })
</script>

<div class="row">
  <div class="col col-md-2">
    <div style="margin: 2rem 0rem 0rem 0rem; ">
      <a class="btn btn-outline-info btn-block btn-lg" href="/home">
        <i class="fas fa-arrow-alt-circle-left"></i> Back</a>
    </div>
  </div>
  <div class="col col-md-10">
    <div class="card" style="margin: 2rem">
      <div class="card-header">
        <h4>Add Model Collector</h4>
      </div>
      <div class="card-body">
        <h6 class="card-title">กรุณาเลือกข้อมูลที่ต้องการบันทึก</h6>
        <form action="/choose_defect_on_glass" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row" style="margin-top: 1rem">
            <div class="input-group">
              <label class="input-group-text" for="inputModelname">Name Operator</label>

              <input class="form-control" for="inputModelname" type="text" placeholder="{{user.first_name}}"
                aria-label="Disabled input example" disabled>




            </div>
          </div>











          <div id="accordion">
            <div class="row" style="margin-top: 1rem; padding-left: 1rem; padding-right: 1rem">
              <a class="btn btn-info" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne" style="color: aliceblue;">

                <i class="fas fa-chevron-circle-down"></i> by Model Code
              </a>
              <div id="collapseOne" class="collapse my-2" data-parent="#accordion">

                <div class="card">
                  <div class="card-body">
                    <div class="row" style="margin-top: 1rem">
                      <div class="input-group mb-3">
                        <label class="input-group-text" for="inputModelCode1">Model Code</label>
                        <select class="form-select" id="inputModelCode1" name="inputModelCode1">
                          <option selected>กรุณาเลือก Model Code</option>

                          {% for modelGlass in modelGlasss %}

                          <option value="{{modelGlass.id}}">
                            {{modelGlass.model_code}}
                          </option>

                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="row" style="margin-top: 1rem">
                      <div class="input-group mb-3">
                        <label class="input-group-text" for="inputModelName1">Model Name</label>
                        <select class="form-select" id="inputModelName1" name="inputModelName1" disabled>
                          <option selected>กรุณาเลือก Model Name</option>

                          {% for modelGlass in modelGlasss %}

                          <option value="{{modelGlass.id}}">
                            {{modelGlass.model_name}}
                          </option>

                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 1rem; padding-left: 1rem; padding-right: 1rem">
              <a class="btn btn-info" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                aria-controls="collapseTwo" style="color: aliceblue;">
                <i class="fas fa-chevron-circle-down"></i> by Modal Name
              </a>
              <div id="collapseTwo" class="collapse my-2" data-parent="#accordion">
                <div class="card">
                  <div class="card-body">
                    <div class="row" style="margin-top: 1rem">
                      <div class="input-group mb-3">
                        <label class="input-group-text" for="inputModelName2">Model Name</label>
                        <select class="form-select" id="inputModelName2" name="inputModelName2">
                          <option selected>กรุณาเลือก Model Name</option>

                          {% for modelGlass in modelGlasss %}

                          <option value="{{modelGlass.id}}">
                            {{modelGlass.model_name}}
                          </option>

                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="row" style="margin-top: 1rem">
                      <div class="input-group mb-3">
                        <label class="input-group-text" for="inputModelCode2">Model Code</label>
                        <select class="form-select" id="inputModelCode2" name="inputModelCode2" disabled>
                          <option selected>กรุณาเลือก Model Code</option>

                          {% for modelGlass in modelGlasss %}

                          <option value="{{modelGlass.id}}">
                            {{modelGlass.model_code}}
                          </option>

                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 1rem">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputModelDesc">Model Description</label>
              <select class="form-select" id="inputModelDesc" name="inputModelDesc" required>
                <option disabled selected>กรุณาเลือก Model Code / Model Name</option>

                {% for modelGlass in modelGlasss %}

                <option value="{{modelGlass.id}}">
                  {{modelGlass.model_desc}}
                </option>

                {% endfor %}
              </select>
            </div>
          </div>

          <div class="row" style="margin-top: 1rem; padding-left: 1rem; padding-right: 1rem">
            <input type="date" id="datepicker" name="datepicker" class="form-control" placeholder="Please, select date."
              required />
          </div>

          <div class="row" style="margin-top: 2rem">
            <div class="input-group mb-3">
              <label class="input-group-text" for="shift">Shift</label>
              <select class="form-select" id="shift" name="shift" required>
                <option value="">กรุณาเลือกกะเวลาทำงาน</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
              </select>
            </div>
          </div>
          </ก>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col col-9"></div>
          <div class="col col-3">
            <button type="submit" class="btn btn-info btn-block btn-lg b">
              Next <i class="fas fa-arrow-alt-circle-right"></i>
            </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>




  <script>

    $('#datepicker').datepicker({
      uiLibrary: 'bootstrap4',
    })

    var collapseElementList = [].slice.call(
      document.querySelectorAll('.collapse')
    )
    var collapseList = collapseElementList.map(function (collapseEl) {
      return new bootstrap.Collapse(collapseEl)
    })
    // var collapseElementList = [].slice.call(document.querySelectorAll('.collapse'))
    // var collapseList = collapseElementList.map(function (collapseEl) {
    //   return new bootstrap.Collapse(collapseEl)
    // })
  </script>
  {% endblock %}
</div>